{% extends 'base.html.twig' %}

{% block title %}Événement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block body %}

<!-- Start modal add event -->
<div class="modal fade" id="modalAddEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ajouter un événement</h5>
                <button type="button" class="btn-close" aria-label="Close modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(addEventForm) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_label(addEventForm.title) }}
                        {{ form_widget(addEventForm.title) }}
                    </div>
                    <div class="col-12 mt-2">
                        {{ form_label(addEventForm.observation) }}
                        {{ form_widget(addEventForm.observation) }}
                    </div>
                    <div class="col-sm-4 mt-2">
                        {{ form_label(addEventForm.nb_player) }}
                        {{ form_widget(addEventForm.nb_player) }}
                    </div>
                    <div class="col-sm-8 mt-2">
                        {{ form_label(addEventForm.game) }}
                        {{ form_widget(addEventForm.game) }}
                    </div>
                    <div class="col-12 mt-4">
                        <button type="button" aria-label="Close modal" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        {{ form_widget(addEventForm.save) }}
                    </div>
                </div>
                {{ form_end(addEventForm) }}
            </div>
        </div>
    </div>
</div>
<!-- End modal add games -->

<div class="row">

    <div class="col-12 mb-2">
        <h1 class="text-light">Événement à venir</h1>
        {% if app.user.roles[0] is defined and (app.user.roles[0] == "ROLE_ORGANIZER" or app.user.roles[0] == "ROLE_ADMIN") %}
            <button class="btn btn-warning" id="btnAddEvent" aria-label="Add event" data-bs-toggle="modal" data-bs-target="#modalAddEvent">Créer un événement</button>
        {% endif %}
    </div>
    {% set event = false %}
    {% for var in showAllEventGame %}
        {% if var.etat == true %}
            <div class="col-lg-4 col-md-6 col-sm-6 cadreEvent" data-idEvent="{{ var.id }}">
                <img src="{{ asset('images/games/' ~ var.name_img) }}" alt="Event">
                <div class="bodyEvent">{{ var.name }}</div>
            </div>
            {% set event = true %}
        {% endif %}
    {% endfor %}
    {% if event == false %}
        <div class="mb-2 h5 text-light">Aucun événement à venir</div>
    {% endif %}


    <div class="col-12 mt-3 mb-2">
        <h1 class="text-light">Proposition</h1>
    </div>
    {% set event = false %}
    {% for var in showAllEventGame %}
        {% if var.etat == false %}
        <div class="col-lg-4 col-md-6 col-sm-6 cadreEvent" data-idEvent="{{ var.id }}">
            <img src="{{ asset('images/games/' ~ var.name_img) }}" alt="Event">
            <div class="bodyEvent">{{ var.name }}</div>
        </div>
        {% set event = true %}
        {% endif %}
    {% endfor %}
    {% if event == false %}
        <div class="mb-2 h5 text-light">Aucune proposition d'événement</div>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}