{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
<form method="post">

    <div id="login" class="text-light bg-dark">
       
        <h1 class="h2 pt-4 pb-2 font-weight-normal text-center">Connexion</h1>

        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control champAuth" autocomplete="off" required autofocus>
        
        <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control champAuth" autocomplete="off" required}>
    
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if error %}
            <div class="errorMessage">Le mot de passe entré est incorrect. 
                <div><a href="#">Mot de passe oublié?</a></div>
            </div>
        {% endif %}

        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me" checked>
                <div class="labCheckbox">Rester connecté(e)</div>
            </label>
        </div>

        <button class="btn btn-primary" id="btnLogin" type="submit">Connexion</button>

    </div>

</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}