{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        
        <div id="login" class="text-light">
            
            <h1 class="h2 pt-4 pb-2 font-weight-normal text-center">Inscription</h1>

            {{ form_widget(registrationForm.pseudo) }}

            {{ form_widget(registrationForm.email) }}           
            {% if form_errors(registrationForm.email) %}
                <div class="errorMessage" style="width:fit-content;margin:auto">Il existe déjà un compte avec ce mail</div>
            {% endif %}

            {{ form_widget(registrationForm.plainPassword) }}
            {% if form_errors(registrationForm.plainPassword) %}
                <div class="errorMessage" style="width:fit-content;margin:auto">Doit contenir au moins 6 caractères</div>
            {% endif %}

            <div class="checkbox">
                <label>
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="labCheckbox">Accepter les conditions</div>
                </label>
            </div>

            <button class="btn btn-primary" id="btnRegister" type="submit">Inscription</button>

        </div>

    {{ form_end(registrationForm) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}