{% extends 'base.html.twig' %}

{% block title %}Social{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('social') }}
{% endblock %}

{% block body %}

<!-- Start modal add friend -->
<div class="modal fade" id="modalAddFriend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ajouter un ami</h5>
                <button type="button" class="btn-close" aria-label="Close modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(addFriendForm, {'attr': {'id': 'formAddFriend'}}) }}
                <div class="row">
                    <div class="col-12 mt-2">
                        <label for="Pseudo">Pseudo</label>
                        <input type="text" class="form-control" id="pseudo" name="pseudo" autocomplete='off'>
                        <div id="errorPseudo"></div>
                    </div>
                    <div class="col-12 mt-4">
                        <button type="button" aria-label="Close modal" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        {{ form_widget(addFriendForm.save) }}
                    </div>
                </div>
                {{ form_end(addFriendForm) }}
            </div>
        </div>
    </div>
</div>
<!-- End modal add friend -->


<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" id="btnAddFriend" data-bs-toggle="modal" data-bs-target="#modalAddFriend" aria-label="Add friend">Ajouter un ami</button>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="cadreContact">
            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table" id="tableContact">
                        <thead>
                            <tr>
                                <th scope="col">Pseudo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <body>
                            {% for var in friendList %}
                            <tr>
                                <td>{{ var.Pseudo }}</td>
                                <td class="celluleBtn">
                                    <button class="btn btn-primary btnSendContact" aria-label="Send mp contact"><i class="fas fa-paper-plane"></i></button>
                                    <button class="btn btn-danger btnDeleteContact" aria-label="delete contact"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('social') }}
{% endblock %}