<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="La description (meta-description) de la page ici" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}
    </head>
    <body>

        <!-- Start navbar -->
        <button id="sidebarCollapse" aria-label="Navigation Bar" type="button" class="btn btn-dark bg-dark rounded-pill shadow-sm"><i class="fa fa-bars mr-2"></i></button>
        <div class="vertical-nav" id="sidebar">
            {% if app.user.roles[0] is defined %}
                <div class="py-4 px-3">
                    <div id="boxPictureUser">
                        <img src="{{ asset('build/default_user_pic.png') }}" alt="Profil picture">
                    </div>
                    <div class="mt-2">
                        <h4 class="m-0 text-center text-light">#{{ app.user.pseudo }}</h4>
                        <a href="{{ path('app_logout')}}"><button aria-label="Logout" class="btn btn-warning btnDeconnexion form-control mt-2">Déconnexion</button></a>
                    </div>
                </div>
            {% else %}
                <div class="py-4 px-3">
                    <div class="mt-5 mb-3">
                        <a href="{{ path('app_login')}}"><button aria-label="Login" class="btn btn-warning form-control btnConnexion">Connexion</button></a>
                        <a href="{{ path('app_register')}}"><button aria-label="Register" class="btn btn-warning form-control mt-2">Inscription</button>
                    </div>
                </div>
            {% endif %}
        
            <ul class="nav flex-column mb-0">
                <li class="nav-item">
                    <a href="{{ path('event') }}" class="nav-link text-light font-italic">
                        <i class="fas fa-calendar-alt mr-4 text-light fa-fw"></i>
                        Événement
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light font-italic">
                        <i class="fa fa-users mr-4 text-light fa-fw"></i>
                        Social
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light font-italic">
                        <i class="fa fa-share-alt mr-4 text-light fa-fw"></i>
                        Partage
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light font-italic">
                        <i class="fa fa-address-card mr-4 text-light fa-fw"></i>
                        Mon compte
                    </a>
                </li>
                {% if app.user.roles[0] is defined and app.user.roles[0] == "ROLE_ADMIN" %}
                    <li class="nav-item">
                        <a href="{{ path('administration') }}" class="nav-link text-light font-italic">
                            <i class="fas fa-cogs mr-4 text-light fa-fw"></i>
                            Administration
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- End navbar -->
        
        <!-- Start content -->
        <div class="page-content p-4 pt-5" id="content">
            {% block body %}{% endblock %}
            
            <div id="chatBar">
                <div id="chatPosition">
                    {% for i in 0..4 %}
                        <div class="bubbleContact" data-id="2">
                            <img src="{{ asset('build/default_user_pic.png') }}" alt="Contact picture">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="cadreChat">
                <div class="showConvertation">

                </div>
                <div class="comment">
                    <textarea class="form-control" placeholder="Aa"></textarea>
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>

        </div>
        <!-- End content -->

        {% block javascripts %}
            {{ encore_entry_script_tags('base') }}
        {% endblock %}
    </body>
</html>
