{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('administration') }}
{% endblock %}

{% block body %}

<!-- Start modal add games -->
<div class="modal fade" id="modalAddGame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ajouter un jeu vidéo</h5>
                <button type="button" aria-label="Close modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(addGamesForm) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_label(addGamesForm.name) }}
                        {{ form_widget(addGamesForm.name) }}
                    </div>
                    <div class="col-12 mt-2">
                        {{ form_label(addGamesForm.description) }}
                        {{ form_widget(addGamesForm.description) }}
                    </div>
                    <div class="col-12 mt-3">
                        {{ form_widget(addGamesForm.name_img) }}
                    </div>
                    <div class="col-12 mt-4">
                        <button type="button" aria-label="Close modal" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        {{ form_widget(addGamesForm.save) }}
                    </div>
                </div>
                {{ form_end(addGamesForm) }}
            </div>
        </div>
    </div>
</div>
<!-- End modal add games -->

<div class="row">

    <div class="col-12"></div>

    <div class="col-lg-6 mb-4">
        <div class="cadreAdmin">
            <h3>Jeux Vidéos</h3>
            <button class="btn btn-warning btnAdd" aria-label="Add game"  data-bs-toggle="modal" data-bs-target="#modalAddGame">Ajouter</button>
            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table" id="tableGames">
                        <thead>
                            <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <body>
                            {% for var in showGames %}
                            <tr>
                                <td>{{ var.name }}</td>
                                <td>{{ var.description }}</td>
                                <td>{{ var.nameImg }}</td>
                                <td><button class="btn btn-danger btnDeleteGame" aria-label="delete game" data-id="{{ var.id }}" data-name="{{ var.name }}"><i class="fas fa-trash"></i></button></td>
                            </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="cadreAdmin">
            <h3>Utilisateurs</h3>
            <div class="mt-4">
                <div class="table-responsive">
                    <table class="table" id="tableUsers">
                        <thead>
                            <tr>
                                <th scope="col">Pseudo</th>
                                <th scope="col">Email</th>
                                <th scope="col">Rôle</th>
                            </tr>
                        </thead>
                        <body>
                            {% for var in showUsers %}
                            <tr>
                                <td>{{ var.pseudo }}</td>
                                <td>{{ var.email }}</td>
                                <td>{{ var.roles[0] }}</td>
                            </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('administration') }}
{% endblock %}